.title {
    font-size: 20px;
    font-weight: bold;
}
.topfifty_title_area {
    display: inline-block;
    margin-left: 150px;
    margin-top: 20px;

}

.realtime_area {
    display: inline-block;
    margin-left: 115px;
}

.topten_area {
    padding-left: 186px;
}

.topfifty_table {
    width: 85% !important;
    margin-left: auto;
    margin-right: auto;
}

.topten {
    margin-top: 50px;
    margin-left: 210px;
}

.rise {
    color: #D90400;
}

.decline { 
    color: #005DDE;
}

.search_opt {
    list-style-type: none;
    margin: 0;
    margin-left: 140px;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search_opt::after {
    content: '';
    display: block;
    clear: both;
}

.tab-button {
    display: block;
    padding: 10px -1px 10px 20px;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.tab-content {
    display: none;
    padding: 10px;
}

.show {
    display: block;
}