<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                      <img src="/static/images/logo/logo.png" alt="" style="width: 100px;">
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Search End ***** -->
                  <div class="search-input">
                    <form id="search" action="#">
                      <input type="text" placeholder="종목명·초성·코드 검색" id='searchText' name="searchKeyword" onkeypress="handle" />
                      <i class="fa fa-search"></i>
                    </form>
                  </div>
                  <!-- ***** Search End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li><a href="index.html" class="active">Home</a></li>
                      <li><a href="browse.html">공모주일정</a></li>
                      <li><a href="details.html">서비스소개</a></li>
                      <li><a href="streams.html">공지사항</a></li>
                      <li><div class="main-button">
                        <a href="browse.html">로그인</a>
                      </div></li>
                      <li><a href="profile.html">Profile <img src="/static/images/profile-header.jpg" alt=""></a></li>
                  </ul>   
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
    {% block header %}{% endblock %}
  <!-- ***** Header Area End ***** -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved. 
        
        <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>  Distributed By <a href="https://themewagon.com" target="_blank" >ThemeWagon</a></p>
      </div>
    </div>
  </div>
</footer>
{% block footer %}{% endblock %}
      
      <!-- Footer -->

