{% extends 'layout.html' %}
{% block head %}
    <style>
    </style>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="topfifty_title_area">
            <span class="title"><i class="fa-solid fa-quote-right icon"></i>스톡핑 게시판 글목록</span>
        </div>
        <table class="board_table table align-items-center">
            <thead class="thead-light">
            <tr>
                <th>NO</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            </tbody>
        </table>
        <a href="{{url_for('board.write')}}">
            <button type="button" class="btn btn-primary" id='writeBtn'>글쓰기<i class="fa-solid fa-pen"></i></button>
        </a>
    </div>

{% endblock %}

{% block footer %}
   
{% endblock %}

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
