{% extends 'layout.html' %}
{% block head %}
    <style>
    </style>
{% endblock %}

{% block content %}
        <!-- Blog Details Section Begin -->
        <section class="blog-details spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="blog__details__content">
                            <div class="topten_title_area">
                                <span class="title"><i class="fa-solid fa-arrow-trend-up icon"></i>TOP 10 종목</span>
                                <div class="realtime_area">
                                    <span class="badge badge-danger">실시간</span>
                                    <span>{{real_time}}</span>
                                </div>
                                <div>
                                    <span class="sub_title">*해당 차트는 시가총액 순위입니다.*</span>
                                <table class="topten_table table align-items-center">
                                    <thead class="thead-light">
                                      <tr>
                                        <th>NO</th>
                                        <th>종목명</th>
                                        <th>현재가</th>
                                        <th>전일비</th>
                                        <th>등락률</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% if top_stock %}
                                      {% for i in top_stock %}
                                        <tr>
                                          {% if "+" in i[4]%}
                                          <td>{{i[0]}}</td>
                                          <td>{{i[1]}}</td>
                                          <td>{{i[2]}}</td>
                                          <td class="rise">
                                              <img src="/static/img/graph/ico_up.gif" alt="">
                                              {{i[3]}}
                                            </td>
                                          <td class="rise">{{i[4]}}</td>
                                          {% elif "-" in i[4] %}
                                          <td>{{i[0]}}</td>
                                          <td>{{i[1]}}</td>
                                          <td>{{i[2]}}</td>
                                          <td class="decline">
                                            <img src="/static/img/graph/ico_down.gif" alt="">
                                            {{i[3]}}
                                          </td>
                                          <td class="decline">{{i[4]}}</td>
                                          {% endif %}
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    {% else %}
                                    <tbody>
                                      <tr>
                                          <td>데이터가 존재하지 않습니다.</td>
                                      </tr>
                                    </tbody>
                                    {% endif %}
                                  </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="news__sidebar">
                            <div class="news__sidebar__item">
                                <div class="section-title">
                                    <span class="title"><i class="fa-solid fa-comment-dollar icon"></i>오늘의 경제 뉴스</span>
                                </div>
                                <div class="news__item" id="news__item">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Details Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <span class="title"><i class="fa-solid fa-quote-right icon"></i>인기글</span>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".women">Women’s</li>
                    <li data-filter=".men">Men’s</li>
                    <li data-filter=".kid">Kid’s</li>
                    <li data-filter=".accessories">Accessories</li>
                    <li data-filter=".cosmetic">Cosmetics</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

{% endblock %}

{% block footer %}

<script type="text/javascript">
    const init = {
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        },
      };
    const url = "/api/news";
      // 뉴스 데이터 가져오기
      fetch(url, init)
        .then((res) => {
          if (res.status === 200) {
            return res.json();
          } else {
            console.error(`HTTP error! status: ${res.status}`);
          }
        })
        .then((jsonData) => {
          for (let i = 0; i < jsonData["news"].length; i++) {
            const item = jsonData["news"][i];
            let title = item["title"];
            let link = item["link"];
            let pubDate = item["pubDate"];
            let card = `<div class="news__item__text" id="news_item_text">
                            <div class="news_container">
                                <div class="left_content">
                                    <div class="news_content">
                                        <span class="news_title">${title}</span>
                                        <span class="news_date">${pubDate}</span>
                                    </div>
                                </div>
                                <div class="news_link">
                                    <a href="${link}"><img src="/static/img/util/arrow_right.png" alt="" style="width: 20px; height: 20px; filter: invert(92%) sepia(0%) saturate(1580%) hue-rotate(141deg) brightness(102%) contrast(83%);"></a>
                                </div>
                            </div>
                        </div>`;
            let comments = document.getElementById("news__item");
            comments.insertAdjacentHTML("beforeend", card);
          }
        })
        .catch((err) => {
          console.log(err);
        });

</script>

{% endblock %}

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
