{% extends 'layout.html' %}
{% block head %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <!-- Categories Section Begin -->
     <section class="categories">
       <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">-->
                    <div class="topten categories__large__item">
                    <div class="categories__text">
                        <div class="topten_title_area">
                            <span class="title">TOP 50 종목</span>
                        </div>
                        <table class="topfifty_table table align-items-center">
                          <thead class="thead-light">
                            <tr>
                              <th>NO</th>
                              <th>종목명</th>
                              <th>현재가</th>
                              <th>전일비</th>
                              <th>등락률</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if top_stock %}
                            {% for i in top_stock %}
                              <tr>
                                {% if "+" in i[4]%}
                                <td>{{i[0]}}</td>
                                <td>{{i[1]}}</td>
                                <td>{{i[2]}}</td>
                                <td class="rise">
                                  <img src="/static/img/graph/ico_up.gif" alt="">
                                  {{i[3]}}
                                </td>
                                <td class="rise">{{i[4]}}</td>
                                {% elif "-" in i[4] %}
                                <td>{{i[0]}}</td>
                                <td>{{i[1]}}</td>
                                <td>{{i[2]}}</td>
                                <td class="decline">
                                  <img src="/static/img/graph/ico_down.gif" alt="">
                                  {{i[3]}}
                                </td>
                                <td class="decline">{{i[4]}}</td>
                                {% endif %}
                              </tr>
                          </tbody>
                          {% endfor %}
                          {% else %}
                          <tbody>
                            <tr>
                                <td>데이터가 존재하지 않습니다.</td>
                            </tr>
                          </tbody>
                          {% endif %}
                        </table>
                    </div>
                </div>
              <!--</div>
        </div>
    </div>-->
</section>
<!-- Categories Section End -->


{% endblock %}

{% block footer %}
   
{% endblock %}

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
